In [2]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_pickle("max_results.pkl")
df.head()

,ground_truth,prediction,correct,metrics,microphone_audio
0,1,1,True,"{1: {'std_of_deltaT': 26104.09934392854, 'coun...","[-0.00858134, 0.0061133597, 0.0056532193, -0.0..."
1,1,1,True,"{1: {'std_of_deltaT': 16873.219098246398, 'cou...","[0.004619666, -0.00025240716, 0.006678564, -0...."
2,1,1,True,"{1: {'std_of_deltaT': 13460.635722350087, 'cou...","[-0.020336598, -0.026521448, -0.013880938, 0.0..."
3,1,1,True,"{1: {'std_of_deltaT': 13715.300573750064, 'cou...","[0.004058216, -0.0076125516, 0.0068851206, -0...."
4,1,1,True,"{1: {'std_of_deltaT': 29549.99563884655, 'coun...","[0.005670398, 0.0015003644, -0.0003865804, 0.0..."

In [6]:
first_metrics = pd.DataFrame(df["metrics"][0])
first_metrics.head()

                                 1             3     4
std_of_deltaT         26104.099344  20323.509874  1000
count_hash_matches        1.000000      1.000000     1
n_sample_hashes         239.000000    239.000000   239
histogram_max_height     12.000000      1.000000     1